<h2>Password Reset Request</h2>

<p>Hello <%= @resource.email %>,</p>

<p>We received a request to reset your password for your Progress Tracker account. You can reset your password by clicking the button below:</p>

<p style="text-align: center; margin: 30px 0;">
  <%= link_to 'Reset My Password', edit_password_url(@resource, reset_password_token: @token), class: 'button' %>
</p>

<p><strong>Important:</strong></p>
<ul>
  <li>This link will expire in 6 hours</li>
  <li>If you didn't request this password reset, please ignore this email</li>
  <li>Your password won't change until you click the link above and create a new one</li>
</ul>

<p>If the button above doesn't work, you can copy and paste this link into your browser:</p>
<p style="word-break: break-all; color: #6b7280; font-size: 14px;">
  <%= edit_password_url(@resource, reset_password_token: @token) %>
</p>
